.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    background-color: #a3a3a3;
    width: 800px;
    height: 500px;
    margin-left: 400px;
    margin-top: 50px;
  }
  #height,
  #weight {
    width: 150px;
    height: 25px;
    /* margin-top: 30px; */
  }

  p{
    margin-left: 220px;
  }
  
  #weight-guide {
    margin-left: 30px;
    margin-top: 25px;
  }
  
  #results {
    font-size: 35px;
    margin-left: 90px;
    margin-top: 20px;
    color: rgb(241, 241, 241);
  }
  
  button {
    width: 150px;
    height: 35px;
    margin-left: 270px;
    /* margin-top: px; */
    background-color: #fff;
    padding: 1px 20px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
  
    font-size: 25px;
  }
  
  h1 {
    padding-left: 15px;
    padding-top: 25px;
    
  }

  h3{
    margin-left: 250px;
  }
  